header {
  background-color: white;
  border-bottom: solid 1px #474746;
}
body {
  background-color: white !important;
}
.nav-logo-container {
  img {
    max-width: 100%;
    min-height: 3rem;
  }
}
.nav-tools-container {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  gap: 0.5rem;
}
.search-button,
.notifications-button,
.hamburger-button {
  background-color: #262626;
  border-radius: 50%;
  position: relative;
  z-index: 1;
  height: 55%;
  border: none;
  cursor: pointer;
  padding: 1rem 0.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-icon,
.notifications-icon,
.hamburger-icon {
  color: #e9e9e8;
  display: block;
  position: relative;
  z-index: 2;
}
.hamburger-icon {
  color: white;
}

.navbar-collapse {
  width: 100%;
  background-color: rgb(38, 37, 37);
  padding: 1rem;

  .navbar-nav {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .nav-link {
      color: white;
      text-decoration: none;
      padding: 0.5rem;

      &:hover {
        background-color: rgba(255, 255, 255, 0.1);
      }
    }
  }
}
