.welcome-box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &__scope-selector{
        display: flex;
        align-items: center;
    }
}
.summary-card{
    display: flex;
    flex-direction: row;
    align-items: center;
    max-height: 100px;
    background-color: grey;
    border-radius: 16px;
    padding: 16px 0;

    &__icon{
        min-height: 45px;
        min-width: 45px;
        border-radius: 10px;
        margin: 0 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: beige;
    }

    &__text{
        display: flex;
        flex-direction: column;
        h2,p{
            padding: 0;
            margin: 0;
        }
        h2{
            font-size: 1.2rem;
            color: white;
        }
        p{
            font-size: .8rem;
            color: lightgrey;
        }
    }
}