html {
  background-color: #1c1d1d;
}
main {
  background-color: #1c1d1d;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  min-height: 100vh;
}

/* WELCOME BOX */
.welcome-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  &__text {
    &-title {
      font-size: 2rem;
      color: #f4f5f5;
      margin: 0;
      padding: 0;
    }
    &-subtitle {
      font-size: 1rem;
      color: #a4a5a4;
      margin: 0;
      padding: 0;
    }
  }

  &__scope-selector {
    display: flex;
    align-items: center;

    &-button {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0.6rem 1.5rem;
      gap: 10px;
      border-radius: 2rem;
      border: solid 1px #3f9c88;
      background: transparent;

      &-icon {
        color: #3f9c88;
      }

      &-text {
        color: #3f9c88;
      }
    }
  }
}

/* SUMMARY CARD */
.summary-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-height: 77px;
  background-color: #242525;
  border-radius: 16px;
  padding: 16px 0;

  &__icon {
    min-height: 45px;
    min-width: 45px;
    border-radius: 10px;
    margin: 0 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: beige;
  }

  &__text {
    display: flex;
    flex-direction: column;

    &-title {
      font-size: 1.2rem;
      color: #eaebea;
      margin: 0;
      padding: 0;
    }

    &-subtitle {
      font-size: 0.8rem;
      color: #989999;
      margin: 0;
      padding: 0;
    }
  }
}

/* CHART */
.chart-box {
  min-height: 320px;
  height: 60vh;
  max-height: 480px;

  &__content {
    display: flex;
    height: 100%;
    min-width: 100%;
    &-chart {
      height: 100%;
      width: 100%;
      &-container {
        flex: 1;
        height: 100%;
        width: 100%;

        canvas {
          height: 100% !important;
          width: 100% !important;
        }
      }
    }
  }
}

/* RECENT COURSES */
.recent-courses-box {
  &__header {
    display: flex;
    justify-content: space-between;

    &-title {
      color: #fbfafb;
    }

    &-button {
      color: #3ea08e;
      background: transparent;
      border: none;
    }
  }
}

.course-item {
  max-height: 200px;
  display: flex;
  padding: 20px;

  &__image {
    max-height: 120px;
    max-width: 200px;
    border-radius: 10px;
    object-fit: cover;
    object-position: center;
  }

  &__content {
    &-header {
      display: flex;
      flex-direction: column;
      gap: 10px;

      &-title {
        font-size: 1.2rem;
        color: #fbfafb;
        margin: 0;
        padding: 0;
      }
      &-author {
        font-size: 0.8rem;
        color: lightgrey;
        margin: 0;
        padding: 0;
      }
    }

    &-footer {
      display: flex;
      flex-direction: column;
      gap: 10px;
      &-progress {
        font-size: 0.8rem;
        color: lightgrey;
        margin: 0;
        padding: 0;
      }
    }
  }
}
  